.chatHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4b4c53;
}

.dark{
  background-color: #232323;
  color: #eee;

  .showbtn{
    background-color: #b7b7b7;
  }
}

.light{
  background-color: #fff;
  color: rgb(48, 47, 47);
}


.showbtn{
  padding: 2px 6px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 350ms;
  i{
    padding-top: 2.5px;
    font-size: 1.3rem;
  }
}


.showbtn:hover{
  background-color: slategrey;
}



.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  font-size: 1rem;
}

.closeBtn {
  background: none;
  border: none;
  color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closeBtn:hover {
  color: #ff4c4c;
}
